
/*sample ----------------------------------------------------*/
#test-sample { display: block; top: 300px; left: 42px; }
# div.overlay-container-waitlist { width:413px; background: #fff 0 0 repeat; color:black; padding: 4px 0 0 1px; }
#container .close { right: 115px; top: 10px; }
#ko iframe { width: 460px; height: 290px; padding: 10px; } /* English */
