/* Body Text and Titling----------------------------------------------------*/

#mpp_header { margin-bottom: 5px; }

.text_container { margin: 20px 0 30px 7px; padding-top: 20px; }

.text_container p { width: 380px; }

.descr { line-height: 1.1; }

#title { margin: 0 0 8px 0; }

#main_content h2#wn_title { margin-bottom: 3px; }

h3.subtitle { margin: 0 0 15px 0; }

#collection_looks_header {display:block; text-indent:-5000px; background-repeat:no-repeat;} 

/* Content----------------------------------------------------*/
#btn_container {width: 280px;float: left;margin: 0;} 
#btn_add_to_bag {margin: 0 0 7px 0;} 

#pro_discount { padding:5px 0 0 0; }

/* Related Content----------------------------------------------------*/
.rel_container { margin: 0 0 30px 0; }

#collection_looks {margin-top:30px;}

#live_chat { float: left; margin-top:30px; }

a.rel_head   { border: 1px solid #2a2a2a; }

.rel_prod_add .progress-add-set { margin: 8px 80px 0 0; }


/* Collection Browser begins */
#collection-container {overflow:hidden; height:380px; clear:both; margin-bottom:0px; margin-left:0px; width: 460px;}
#collection-mainimage {position:absolute;left:0px; top:0px; z-index:999999999; overflow:hidden; height:360px; width:457px;}

.scroller-popup-container{position:relative; left:100px; top:100px; width:215px;}

.collection-slideshow-active { color: '#fff'; }


#collection-scroller { position: relative; width: 6000px; height: 380px; overflow: hidden; }
.collection-scroller-content { position: absolute; display:inline-table; top: 30px; left: 5px; }
.collection-slideshow-sku-buttons-container { float:left; height:350px; }
.sku-button img { float:left; padding: 0px 0px 0 3px; height: 325px;}
#collection-container #scroller1 { position: relative; }

/* Tabs
--------------------*/
#collection-container ul.tabs_collection { list-style:none; margin:0 0 0 13px; padding:5px 0 0 0; clear:both; height:20px; clear:both; border-top:1px solid #333; position:absolute; top:350px; width:445px; }
#collection-container ul.tabs_collection li.tab { float:left; margin:1px 7px 0 0; text-align:center; text-transform:uppercase;}
#collection-container ul.tabs_collection li.tab a { display:block; height:20px; padding:0; text-decoration:none; text-align:left; color:#999;margin-left:12px; }
#collection-container ul.tabs_collection li.tab a:hover {color:#fff;}

#collection-container ul.tabs_collection #view-mainimage{position:absolute; top:-370px; left:7px; z-index:999; height:25px; width:90px; display:block; cursor:pointer;padding-top: 30px;}
#collection-container ul.tabs_collection #view-mainimage span {text-decoration:none; color:#999; width:120px; margin-left: 0px;}
#collection-container ul.tabs_collection #view-mainimage span:hover{color:#fff;}
#collection-container ul.tabs_collection #view-collection{margin-left:7px;}

#collection-container ul.tabs_collection li.tab a,
#collection-container ul.tabs_collection #view-mainimage span {font-stretch: condensed; font-family: "TradeGothic-CondEighteen", "Trade Gothic Cond Eighteen", "Trade Gothic Condensed Eighteen", "Trade Gothic", "TradeGothic", "Trade-Gothic", "ArialNarrow", "Arial-Narrow", "Arial Narrow", Arial, sans-serif; font-size: 11px;}

#collection-container ul.tabs_collection li.tab a:hover { text-decoration:none; }
#collection-container ul.tabs_collection li.tab a.active { text-decoration:none; }
#collection-container ul.tabs_collection li.collection-arrows div { float: right; margin-top: -2px; }
#collection-container ul.tabs_collection #collection-arrow-right { margin-left: 15px; }
#collection-container ul.tabs_collection li.source_code { float:right; }
/* Collection Browser End */




/* Waitlist ----------------------------------------------------*/
#overlay-waitlist-bloggers { display: block; top: 321px; left: 492px; }
#overlay-waitlist-bloggers div.overlay-container-waitlist { width:413px; background: #fff 0 0 repeat; color:black; padding: 4px 0 0 1px; }
#overlay-waitlist-bloggers div.overlay-container-waitlist .close-container { right: 15px; top: 11px; }
#overlay-waitlist-bloggers iframe { width: 413px; height: 213px; padding: 0px; } /* English */
